<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <title>Smart Bus</title>

        <script src="/node_modules/angular/angular.min.js"></script>
        <script src="/node_modules/moment/min/moment.min.js"></script>
        <script src="/node_modules/angular-moment/angular-moment.js"></script>
        <script src="/node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="/javascripts/angular-relative-date.js"></script>

        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/font-awesome-4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body ng-app="SmartBus">
      <section class="fullscreen" ng-controller="DashboardController" ng-class="background">
        <div class="container fullscreen height-100">
            <div class="height-10">
              <h2><i class="fa fa-bus" aria-hidden="true"></i> Smart Bus</h2>
            </div>
            <div class="row no-gutter height-80">
                <div class="col-md-7 col-sm-7 height-100">
                    <div class="wrapper height-20">
                        <div class="card center-content height-100">
                            <div class="content center" ng-cloak>
                                <div class="light">{{ clock | amDateFormat:'h:mm:ss a' }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper height-40">
                        <div id="control_panel" class="card center-content height-100" ng-class="color">
                          <button id="reserve_btn" class="btn" ng-click='reserveSeat()' ng-class="reserve_status">
                            {{ reservation_text }}
                          </button>
                            <div>
                                <div class="header">
                                    <span class="white">Remaining Seat</span>
                                </div>
                                <div class="content text-center">
                                    <span class="white" ng-cloak>
                                        {{ seat_left }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="height-40">
                        <div class="wrapper col-sm-6 height-100">
                            <div class="card center-content height-100">
                                <div>
                                    <div class="header">
                                        <span>in</span>
                                    </div>
                                    <div class="content text-center" ng-cloak>
                                        {{ in }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper col-sm-6 height-100">
                            <div class="card center-content height-100">
                                <div>
                                    <div class="header">
                                        <span>out</span>
                                    </div>
                                    <div class="content text-center" ng-cloak>
                                        {{ out }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-sm-5 height-100">
                    <div class="wrapper height-100">
                        <div class="card height-100">
                            <div class="head-tab center-content height-10">
                                <span>passenger history</span>
                            </div>
                            <ul class="list-unstyled height-90">
                                <li ng-repeat="item in historyList" ng-cloak>
                                    <div class="action">{{ item.action }}</div>
                                    <div class="timestamp">{{ item.time | amDateFormat:'h:mm:ss a' }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <script src="app.js"></script>
        <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    </script>
</body>
</html>
